<div class="d-flex flex-row justify-content-center mb-3">
  <div class="d-flex flex-column gap-2">
    <h3>Pesquise sobre algum post</h3>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Encontre um post ou categoria..."
      />
      <div class="input-group-prepend">
        <button
          type="button"
          class="button button-primary border-0 rounded-1 w-max"
        >
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
