<section
  class="top-space"
>
  <article
    *ngIf="post"
    class="d-flex flex-column gap-2 justify-content-center align-items-center"
    (window:keydown)="onKeypressEvent($event)"
    >
    <img
      *ngIf="post.contentHeader"
      [src]="post.contentHeader"
      class="image-header"
    />
    <span class="text-center mb-1">
      <h1>
        {{ post.title }}
      </h1>
    </span>
    <p class="text-center post-content" [innerHTML]="post.content"></p>
    <span class="d-flex flex-row justify-content-between w-default">
      <span>
        <i
          [ngClass]="likedPost ? 'bi bi-hand-thumbs-up-fill pointer' : 'bi bi-hand-thumbs-up pointer'"
          (click)="handleClickLike()"
        ></i>
        {{ post.likes }} Curtidas
      </span>
      <span>
        <i class="bi bi-eye"></i>
        {{ post.views }} Visualizações
      </span>
    </span>
    <span
      class="d-flex flex-row gap-2 justify-content-start align-items-center"
    >
      <img
        [src]="post.authorImage"
        class="rounded-3"
        width="64"
      />
      <span class="d-flex flex-column gap-1">
        <span>Publicado por: <b>{{ post.author }}</b></span>
        <h6>Em: <b>{{ postDate | titlecase}}</b></h6>
      </span>
    </span>
  </article>
</section>
