<section class="top-space">
  <article class="d-flex flex-column gap-2 justify-content-center align-items-center">
    <img
      *ngIf="post.contentHeader"
      [src]="post.contentHeader"
      class="image-header"
    />
    <span class="text-center mb-1">
      <h1>
        {{ post.title }}
      </h1>
    </span>
    <p class="text-center post-content" #content></p>
    <span
      class="d-flex flex-row gap-2 justify-content-start align-items-center"
    >
      <img
        [src]="post.authorImage"
        class="rounded-3"
        width="64"
      />
      <span class="d-flex flex-column gap-1">
        <b>Publicado por: {{ post.author }}</b>
        <h6>Em: {{ postDate }}</h6>
      </span>
    </span>
  </article>
</section>
