h1 {
  font-size: 28px;
  font-weight: bold;
}

.image-header {
  width: 46.875rem;
  height: auto;
  margin-bottom: 2.75rem;
}

.post-content {
  width: 46.875rem;
  font-size: 1.25rem;
  line-height: 19px;
}

.post-content > h1, h2, h3, h4 {
  font-weight: bold;
}

.post-content > h4 {
  font-size: 1.45rem;
}

.post-content > p {
  width: 46.875rem;
  font-size: 1.25rem;
  line-height: 20px;
}
