<section class="top-space">
  <h1 class="text-center">Quem somos ?</h1>
  <article class="d-flex flex-column gap-4 mt-4">
    <article
      *ngFor="let contributor of contributors"
      class="d-flex flex-row gap-4"
      >
      <img
        [src]="contributor.imagePath"
        [alt]="contributor.name"
        class="image"
        />
      <span class="d-flex flex-column">
        <h2>{{ contributor.rule }}</h2>
        <h3>{{ contributor.name }}</h3>
        <p>
          {{ contributor.description }}
        </p>
      </span>
    </article>
  </article>
</section>
