<header>
  <Navbar></Navbar>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer
  class="mt-5">
  <div class="footer-content mx-2">
    <img
      src="../assets/images/logo-contermal.svg"
      alt="Contermal Inforudo"
      width="250"
    />
    <p>
      Canal de Postagens de assuntos modernos e dos mais vareados possíveis, um blog para uma leitura prática com informações cotidianas de games, esportes, filmes, séries, tecnologias e entre outros assuntos dos mais variados possíveis.
    </p>
    <ul class="socials">
      <li>
        <a
          href="https://www.instagram.com/contermalinforudo/"
          target="_blank"
        >
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <!-- <li>
        <a>
          <i class="bi bi-spotify"></i>
        </a>
      </li> -->
      <!-- <li>
        <a>
          <i class="bi bi-youtube"></i>
        </a>
      </li> -->
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy; {{ currentYear }} Contermal Inforudo. Produced by <a>luizgcl</a></p>
  </div>
</footer>
