<article
  class="d-flex flex-column align-content-between gap-1 p-3 card"
>
  <span
    class="d-flex flex-column gap-2 card-content">
    <h3 class="card-content-header">{{ post.title }}</h3>
      <p
        class="card-content-body mx-2"
      >
        {{ description }}
      </p>
  </span>
  <footer
    class="d-flex flex-row justify-content-between align-items-center mt-1"
  >
    <span>
      <i class="bi bi-hand-thumbs-up"></i> {{ post.likes }}
      <i class="bi bi-eye"></i> {{ post.views }}
    </span>
    <a
      class="button button-primary"
      (click)="viewPost()"
    >
      Continue lendo...
    </a>
  </footer>
</article>
